<table class="table table-striped">
  <thead>
    <tr>
      <th>Presenter</th>
      <th>Topic</th>
      <th>Date</th>
      <th colspan="5">Time Slot</th>
    </tr>
  </thead>
  <tbody>
    <% object_nm.each do |talk| %>
      <tr>
        <td><%= talk.presenter %></td>
        <td><%= talk.topic %></td>
        <td><%= talk.talk_date.strftime("%m/%d/%Y") %></td>
        <td><%= talk.talk_time.strftime("%l:%M %p") %></td>
        <td class="col-md-offset-10 col-md-2 text-right">
          <%= link_to "Edit", edit_talk_path(talk[:id]), class:"btn btn-primary" %>
          <%= link_to "Delete", talk_path(talk[:id]), class:"btn btn-danger", method: :delete, data: {confirm: "Are you sure?? #{talk.presenter} hasn't presented this topic yet!!"} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "top", talks_path %>
